<div class="githubSetup__form__container">
  <form
    class="githubSetup__form aui top-label"
    method="post"
    action="/github/setup?state=non-spa">
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <div class="field-group githubSetup__form__fieldGroup">
      <label for="{{id}}">Jira Cloud site</label>
      <div class="githubSetup__form__inputContainer">
        <input
          class="githubSetup__form__input {{className}}"
          type="text"
          id="{{id}}"
          name="{{id}}"
          placeholder="Site name"
          aria-label="Jira site"
          value="{{jiraDomain}}"
          autofocus
        />
        <span class="githubSetup__form__jiraSiteSuffix">
          .atlassian.net
        </span>
      </div>
      <div class="description">
        You will be redirected to the marketplace on your Jira Cloud site to install the GitHub for Jira app
      </div>
    </div>

    {{> github-setup-form-error errorMessage="Do not include http or https in the site name" hiddenClass="hidden" }}

    {{#if error}}
       {{> github-setup-form-error errorMessage=error hiddenClass="" }}
    {{/if}}

    <div class="githubSetup__form__modalButtons">
      {{#if (isModal id)}}
        <p class="githubSetup__form__cancelBtn" id="modal-close">
          Cancel
        </p>
      {{/if}}
      <button
        class="githubSetup__form__submitBtn aui-button aui-button-primary"
        type="submit"
        id="{{id}}SubmitBtn"
        aria-disabled="true"
        disabled
      >
        Continue
      </button>
    </div>
  </form>
</div>
