{{#if successfulConnections}}
  <div class="jiraConfiguration__tableContainer">
    <table class="jiraConfiguration__table aui">
      <thead class="jiraConfiguration__table__head">
      <tr class="jiraConfiguration__table__head_row">
        <th class="jiraConfiguration__table__head__title">Connected organization</th>
        <th class="jiraConfiguration__table__head__title">Repository access</th>
        <th class="jiraConfiguration__table__head__title">Backfill status
          <span class="jiraConfiguration__table__infoIcon aui-icon aui-iconfont-info-filled"
                id="sync-status-modal-btn">
            Information

          </span>
        </th>
        <th class="jiraConfiguration__table__head__title">Settings</th>
      </tr>
      </thead>

      <tbody class="jiraConfiguration__table__body">
      {{#each successfulConnections as |connection|}}
        <tr class="jiraConfiguration__table__row">
          {{! Organization }}
          <td class="jiraConfiguration__table__cell">
            {{#unless ../hideAvatar}}
              <img
                  class="jiraConfiguration__table__cell__avatar"
                  src="{{connection.account.avatar_url}}"
                  height="24"
                  width="24"
                  data-installation-id="{{id}}"
              />
            {{/unless}}
            <span class="jiraConfiguration__table__cell__orgName">{{connection.account.login}}</span>
          </td>
          {{! Repos Synced }}
          <td class="jiraConfiguration__table__cell">
            {{#if ../enableRepoConnectedPage}}
              <a href="#" class="jiraConfiguration__table__repo_access" data-subscription-id="{{subscriptionId}}">
                {{#if connection.isGlobalInstall}}
                <span>All repos</span>
                {{else}}
                <span>Only select repos</span>
                {{/if}}
              </a>
            {{else}}
              {{#if connection.isGlobalInstall}}
              <span>All repos</span>
              {{else}}
              <span>Only select repos</span>
              {{/if}}
            {{/if}}

            {{#if (checkRepoCount connection.totalNumberOfRepos)}}
              <span class="jiraConfiguration__table__syncCount">
                  {{ifAllReposSynced
                      connection.numberOfSyncedRepos
                      connection.totalNumberOfRepos
                  }}
              </span>
            {{/if}}
            <a
              class="jiraConfiguration__table__editContainer"
              href="{{html_url}}"
              data-installation-link="{{html_url}}"
              target="_blank"
            >
              <span
                class="jiraConfiguration__table__edit aui-icon aui-icon-small aui-iconfont-new-edit">
                Edit
              </span>
            </a>
          </td>

          {{! Backfill status }}
          <td class="jiraConfiguration__table__cell">
            <div class="jiraConfiguration__infoContainer">
              <span
                    id="{{id}}-status"
                    class="jiraConfiguration__table__{{toLowerCase
                        (replaceSpaceWithHyphen connection.syncStatus)
                    }}
                  jiraConfiguration__table__syncStatus"
                >
                  {{connection.syncStatus}}
                </span>
              {{#if connection.failedSyncErrors}}
                <a
                        class="jiraConfiguration__errorSummary__btn"
                        href="#"
                        data-installation-id="{{connection.id}}"
                        data-app-id="{{ ../gitHubAppId }}"
                        id="error-summary"
                >
                  <span class="aui-icon aui-icon-small aui-iconfont-warning">Show Sync Warnings</span>
                </a>
              {{/if}}
              {{#if (isAllSyncSuccess connection)}}
                <div class="jiraConfiguration__info__backfillDate">
                    {{#if connection.backfillSince}}
                      <span>Backfilled from:</span>
                      <span class="jiraConfiguration__info__backfillDate-label" data-backfill-since="{{ toISOString connection.backfillSince }}"></span>
                      <span class="jiraConfiguration__table__backfillInfoIcon aui-icon aui-iconfont-info-filled" title="If you want to backfill more data, choose &quot;Continue backfill&quot; in the settings menu on the right">Information</span>
                    {{else}}
                      All commits backfilled
                    {{/if}}
                </div>
              {{/if}}
              {{!-- Display any sync warnings --}}
              {{#if (inProgressOrPendingSync connection.syncStatus)}}
                <div class="jiraConfiguration__infoSpinner">
                  <aui-spinner size="small"></aui-spinner>
                </div>
              {{/if}}
              {{#if (failedSync connection.syncStatus)}}
                <div class="jiraConfiguration__retryContainer">
                  <button
                      class="jiraConfiguration__retry sync-connection-link restart-backfill-button"
                      data-installation-id="{{ id }}"
                      data-app-id="{{ ../gitHubAppId }}"
                      data-connection-backfill-since="{{ toISOString connection.backfillSince }}"
                      id="restart-backfill"
                  >
                    &#x21bb;
                  </button>
                  <input type="hidden" id="_csrf" name="_csrf" value="{{../csrfToken}}">
                  <div class="jiraConfiguration__retryMsg">Retry</div>
                </div>
              {{/if}}
            </div>
          </td>

          {{! Settings }}
          <td class="jiraConfiguration__table__cell__settings">
            <button
                class="jiraConfiguration__table__cell__settings__ellipsis aui-button aui-dropdown2-trigger"
                aria-controls="{{elementIdPrefix}}settings-dropdown-{{id}}"
            >
              <span class="jiraConfiguration__table__cell__settings__ellipsisSpan">...</span>
            </button>

            <aui-dropdown-menu class="jiraConfiguration__table__dropdown"
                               id="{{elementIdPrefix}}settings-dropdown-{{id}}">
              <h6 class="jiraConfiguration__table__cell__settings__header">
                <span class="jiraConfiguration__table__cell__settings__headerItem">Organization</span>
              </h6>
              <aui-section class="jiraConfiguration__table__cell__settings__dropdownItems">
                <a
                    class="jiraConfiguration__table__cell__settings__dropdownItem configure-connection-link"
                    href="{{html_url}}"
                    data-installation-link="{{html_url}}"
                    target="_blank"
                >
                  Configure
                </a>
                <div class="jiraConfiguration__table__cell__settings__dropdownItem">
                  <button
                      class="sync-connection-link restart-backfill-button"
                      data-installation-id="{{ id }}"
                      data-app-id="{{ ../gitHubAppId }}"
                      data-connection-backfill-since="{{ toISOString connection.backfillSince }}"
                      id="restart-backfill"
                  >
                    Continue backfill
                  </button>
                  <input type="hidden" id="_csrf" name="_csrf" value="{{../csrfToken}}">
                </div>
                <button
                    class="jiraConfiguration__table__cell__settings__dropdownItem delete-connection-link"
                    data-installation-id="{{id}}"
                    data-org-name="{{connection.account.login}}"
                    data-app-id="{{../gitHubAppId}}"
                >
                    Disconnect
                </button>
              </aui-section>
            </aui-dropdown-menu>
          </td>
        </tr>

        <!-- Error Summary Modal -->
        {{> jira-configuration-error-summary
          id=id
          host=host
          html_url=html_url
          syncErrors=connection.failedSyncErrors
          csrfToken=../csrfToken
        }}

      {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}
{{#each failedConnections as |connection|}}
  <div class="jiraConfiguration__failedConnections__container">
    <div class="jiraConfiguration__failedConnections__errorIcon__container">
      <span
          class="jiraConfiguration__failedConnections__errorIcon aui-icon aui-icon-medium aui-iconfont-error">
        Failed connection error
      </span>
    </div>
    <div class="jiraConfiguration__failedConnections__orgInfo">
      {{#if connection.orgName}}
        <p class="jiraConfiguration__failedConnections__header">
          There was an error for organization {{ connection.orgName }}
        </p>
      {{else}}
        <p class="jiraConfiguration__failedConnections__header">
          There was an error for organization with ID: {{ id }}
        </p>
      {{/if}}
      <p class="jiraConfiguration__failedConnections__errorMsg">
        {{failedConnectionErrorMsg connection.deleted}} You will need to reconnect.
      </p>

      <button class="jiraConfiguration__failedConnections__dismiss delete-connection-link"
              data-app-id="{{../gitHubAppId}}"
              data-installation-id="{{ id }}">
        Dismiss
      </button>
    </div>
  </div>
{{/each}}

