<div
    class="selectGitHubProduct__options__card optionsCard {{gitHubProduct}}"
    data-type="{{gitHubProduct}}"
>
  <h4 class="selectGitHubProduct__options__card__title">{{cardTitle}}</h4>
  <img
    class="selectGitHubProduct__options__card__img {{gitHubProduct}}"
    src={{cardImagePath}}
    alt={{cardImageAlt}}
   />
  <p class="selectGitHubProduct__options__card__info">{{cardContent}}</p>
</div>
