<div class="selectServer__content">
  <div class="selectServer__contentHead">
    <div class="selectServer__contentHeadTitle">
      <img class="selectServer__contentImg" src="{{contentImgURL}}" alt="GitHub"/>
      <span class="selectServer__contentTitle">{{contentTitle}}</span>
    </div>
    <a class="selectServer__addNew aui-button aui-button-subtle" data-path="{{pathNameForAddNew}}">
      <i class="aui-icon aui-iconfont-add"></i>
      {{textForAddNew}}
    </a>
  </div>

  <div class="selectServer__list">
    {{#each servers as |server|}}
      <div class="selectServer__server">
        <div class="selectServer__serverURL">{{server.displayName}}</div>
        <button
          class="aui-button aui-button-label select-server"
          data-identifier="{{server.displayName}}"
          type="submit"
        >
          Select
        </button>
      </div>
    {{/each}}
  </div>
</div>
