<div class="jiraSelectGitHubVersion__options__card {{gitHubVersion}}">
  <h4 class="jiraSelectGitHubVersion__options__card__title">{{cardTitle}}</h4>
  <img class="jiraSelectGitHubVersion__options__card__img {{gitHubVersion}}" src={{cardImagePath}} alt={{cardImageAlt}} />
  <p class="jiraSelectGitHubVersion__options__card__info">{{cardContent}}</p>
</div>
