<div
    class="jiraSelectGitHubVersion__options__card optionsCard {{gitHubVersion}}"
    data-type="{{gitHubVersion}}"
>
  <h4 class="jiraSelectGitHubVersion__options__card__title" data-type="{{gitHubVersion}}">{{cardTitle}}</h4>
  <img
    class="jiraSelectGitHubVersion__options__card__img {{gitHubVersion}}"
    src={{cardImagePath}}
    alt={{cardImageAlt}}
    data-type="{{gitHubVersion}}"
   />
  <p class="jiraSelectGitHubVersion__options__card__info" data-type="{{gitHubVersion}}">{{cardContent}}</p>
</div>
