<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
  <title>{{title}}</title>
  <link
    rel="stylesheet"
    href="/public/aui/aui-prototyping.css"
    integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <link rel="stylesheet" href="/public/css/github-create-branch.css" media="all" />
  <link rel="stylesheet" href="/public/css/global.css" media="all" />
  <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
</head>

<body>
<input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />
<input type="hidden" id="jiraHost" name="jiraHost" value="{{jiraHost}}" />

{{> navigation hideBackButton=true }}

<section class="gitHubCreateBranch">
  <div class="headerImage">
    <img src="/public/assets/jira-and-github.png" alt="Jira and GitHub logos" />
  </div>
  <div class="gitHubCreateBranch__title">
    Create a Branch
  </div>
</section>

<script src="https://connect-cdn.atl-paas.net/all.js" nonce="{{nonce}}"></script>
<script
  src="/public/aui/aui-prototyping.js"
  integrity="sha512-DkENIkhNP5r+sfHUC5hhFAzApGNR5HTu1fzymBBhXZma4zytOUQh8qhz5xc3nSbSQfdYI6qdI281YwUNmubEMw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  nonce="{{nonce}}"
></script>
<script src="/public/js/navigation.js" nonce="{{nonce}}"></script>
<script>
  window.onload = (event) => {
    console.log('page is fully loaded');
    console.log("ATTEMPTING CALL")
    $.post('/github/create-branch', {
      owner: "test-org-joshk",
      repo: "integration-test-jira",
      sourceBranchName: "main",
      newBranchName: "more-cats",
      // installationId: $(event.target).data('installation-id'),
      _csrf: document.getElementById('_csrf').value,
      // clientKey: document.getElementById('clientKey').value
    }, function (data) {
      if (data.err) {
        return console.log(data.err)
      }
    })
  };
</script>
</body>

</html>
