<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
</head>
<body class="bg-gray px-3 py-6">
  <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}">
  <input type="hidden" id="jiraHost" name="jiraHost" value="{{jiraHost}}">
  <input type="hidden" id="clientKey" name="clientKey" value="{{clientKey}}">
  <section class="mx-auto" style="max-width: 510px">
    <p class="text-gray text-center my-4">
      <img src="/public/octicons/mark-github.svg" height="45px;" />
    </p>
    <h2 class="f2 text-center text-normal">Connect an Organization to Jira</h2>
    <p class="text-gray text-center mb-4">Which organization do you want to connect to?</p>

    <div class="Box box-shadow">
      <div class="">
        {{#each installations}}
        <div class="Box-row Box-row--hover-gray d-block clearfix">
          <img class="avatar float-left mr-2" src="{{ account.avatar_url }}" alt=""
            height="25px" width="25px">
          <span class="text-bold text-gray-dark"><a href="{{html_url}}">{{ account.login }}</a></span>
          {{#if admin}}
            <button class="install-link btn btn-info float-right" data-installation-id="{{ id }}" type="submit">Install</button>
            <a href="/github/subscriptions/{{ id }}" class="float-right my-1 px-1">Manage</a>
          {{else}}
            <button disabled class="tooltipped tooltipped-w install-link btn btn-info float-right" aria-label="Unable to connect this installation. Please check that you have admin access and, if you have configured an IP allowlist for your GitHub organization, that it contains the required IP addresses." data-installation-id="{{ id }}" type="submit">
              Install
            </button>
          {{/if}}
        </div>
        {{/each}}
      </div>
    </div>
    <p class="text-gray text-center my-4">
      Don't see your account?
      <a href="{{ info.html_url }}/installations/new">Install {{ info.name }}</a> on your user account or an
      Organization you own.
    </p>

    <p class="text-gray text-left my-4">
      <strong> Please note</strong>: We currently sync data from all repositories you've selected in the installation's
      settings.
      If there a large number of repositories in the installation, initial data sync will take some time to complete.
      To review or update the repositories you've selected for an installation, <a
        href="{{ info.html_url }}/installations/new">click here.</a>
    </p>
    <div class="Box box-shadow my-3">
      <div class="Box-row Box-row--hover-gray muted-link d-block clearfix">
        <p class="text-gray text-center my-2">
          <img data-jira-host="{{ jiraHost }}" src="/public/jira-logo.png" alt="" height="45px" width="45px"
            style="border-radius: 25px; padding:5px; background-color: #154894;">
          <br />
          <span class="text-bold text-gray-dark" data-jira-host="{{ jiraHost }}">{{ jiraHost }}</span>
        </p>
      </div>

    </div>

  </section>
  <script src="/public/js/github-configuration.js" nonce="{{nonce}}"></script>
</body>

</html>
