<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
  <link rel="stylesheet" href="/public/aui/aui-prototyping.css"
    integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <link rel="stylesheet" href="/public/css/github-create-branch-options.css" media="all" />
  <link rel="stylesheet" href="/public/css/loading-screen.css" media="all" />
  <link rel="stylesheet" href="/public/css/global.css" media="all" />
  <link rel="stylesheet" href="/public/css/server-error-message-box.css" media="all" />
  <link
    rel="stylesheet"
    href="/public/css/jira-select-github-product.css"
    media="all"
  />
  <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
</head>

<body class="aui-page-hybrid">
    <div class="jiraSelectGitHubProduct">
        <header class="jiraSelectGitHubProduct__header">
           {{> navigation }}
        </header>

         <section class="jiraSelectGitHubProduct__content">
            <div class="headerImage">
                <img src="/public/assets/jira-github-connection.svg" class="headerImageLogo" alt="Jira and GitHub logos" />
            </div>
            <h2 class="jiraSelectGitHubProduct__content__title">Select your GitHub product</h2>
            <div class="jiraSelectGitHubProduct__options__container">
                <p class="jiraSelectGitHubProduct__options__prompt">Which GitHub product would you like to use?</h2>

                <div class="jiraSelectGitHubProduct__options__cardsContainer">
                    {{> select-github-product-card
                        cardTitle='GitHub Cloud'
                        cardContent='Select this option if the URL of your GitHub organization starts with "http://github.com".'
                        cardImagePath='/public/assets/cloud.svg'
                        cardImageAlt='Cloud'
                        gitHubProduct='cloud'
                        verticalLayout=false
                    }}
                    {{> select-github-product-card
                        cardTitle='GitHub Enterprise Server'
                        cardContent='Select this option if you use the on-premise version of GitHub installed into your own infrastructure.'
                        cardImagePath='/public/assets/server.svg'
                        cardImageAlt='Server'
                        gitHubProduct='server'
                        verticalLayout=false
                    }}
                </div>
            </div>

            <div class="jiraSelectGitHubProduct__selectServerInstance">
                 <form class="aui jiraSelectGitHubProduct__selectServerInstance__form">
                     <div class="field-group" id="serverInstance__fieldGroup">
                        <aui-label for="serverInstance" id="serverInstance__label">GitHub Enterprise Server instance</aui-label>
                        <aui-select id="ghServers" name="serverInstance" class="full-width-field" placeholder="Select a server">
                          {{#each servers.gheServerInfos}}
                            <option value="{{uuid}}">{{baseUrl}}/{{appName}}</option>
                          {{/each}}
                        </aui-select>
                     </div>
                 </form>
            </div>

            <div class="jiraSelectGitHubProduct__actionBtn__container left-aligned">
                <button class="aui-button aui-button-light" id="cancelBtn" type="button">Cancel</button>
                <button
                    class="aui-button jiraSelectGitHubProduct__actionBtn optionBtn"
                    aria-disabled="true"
                    disabled
                >
                    Next
                </button>
            </div>
          </section>
      </div>

  <script src="https://connect-cdn.atl-paas.net/all.js" nonce="{{nonce}}"></script>
  <script src="/public/js/jira-select-card-option.js" nonce="{{nonce}}"></script>
  <script src="/public/aui/aui-prototyping.js"
    integrity="sha512-DkENIkhNP5r+sfHUC5hhFAzApGNR5HTu1fzymBBhXZma4zytOUQh8qhz5xc3nSbSQfdYI6qdI281YwUNmubEMw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" nonce="{{nonce}}"></script>
  <script src="/public/js/github-create-branch-options.js" nonce="{{nonce}}"></script>
  <script src="/public/js/navigation.js" nonce="{{nonce}}"></script>
</body>

</html>
