<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/loading-screen.css" media="all" />
  <link
      rel="stylesheet"
      href="/public/aui/aui-prototyping.css"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
  />
  <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
</head>
<body class="session___body">
{{> loading-screen
    title=title
}}
<input type="hidden" id="gheHost" value={{gheHost}} />
<input type="hidden" id="appHost" value={{appHost}} />
<input type="hidden" id="uuid" value={{uuid}} />
</body>
<script
    src="/public/aui/aui-prototyping.js"
    integrity="sha512-DkENIkhNP5r+sfHUC5hhFAzApGNR5HTu1fzymBBhXZma4zytOUQh8qhz5xc3nSbSQfdYI6qdI281YwUNmubEMw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    nonce="{{nonce}}"
></script>
<script src="/public/js/github-manifest.js" nonce="{{nonce}}"></script>
</html>