<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
  <title>{{title}}</title>
  <link
    rel="stylesheet"
    href="/public/aui/aui-prototyping.css"
    integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <link
    rel="stylesheet"
    href="/public/css/github-configuration.css"
    media="all"
  />
  <link rel="stylesheet" href="/public/css/server-error-message-box.css" media="all" />
  <link rel="stylesheet" href="/public/css/global.css" media="all" />
  <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
</head>

<body>
<input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />

{{> navigation hideBackButton=true }}

<section class="gitHubConfiguration">
  <div class="headerImage">
    <img
      src="/public/assets/jira-and-github.png"
      alt="Jira and GitHub logos"
    />
  </div>
  {{#if gitHubServerApp}}
    <div class="gitHubConfiguration__gitHubServerApp">
      {{gitHubServerApp.gitHubBaseUrl}} / {{ gitHubServerApp.gitHubAppName }}
    </div>
  {{/if}}

  <h2 class="f2 text-center text-normal gitHubConfiguration__header">Connect a
    GitHub organization to your Jira site</h2>
  <p class="jiraInstance">{{jiraHost}}</p>

  {{! TODO: Replace this with AUI table: https://aui.atlassian.com/aui/latest/docs/tables.html }}
  <div class="Box">
    <div class="gitHubConfiguration__wrapper">
      <div class="gitHubConfiguration__tableHeader">
        <p class="gitHubConfiguration__tableHeader__label col1">GitHub organization</p>
        {{#if installations}}
          <p class="gitHubConfiguration__tableHeader__label col2">Repository access</p>
        {{/if}}
      </div>

      <div class="githubOrgs__table">
        {{#each installations}}
          <div class="githubOrgs__table__row clearfix">
            {{! Organizations }}
            <div class="gitHubConfiguration__orgContent__account col1">
              {{#unless ../gitHubServerApp.id}}
                <img
                    class="gitHubConfiguration__orgContent__avatar"
                    src="{{account.avatar_url}}"
                    alt="GitHub organization avatar"
                />
              {{/unless}}
              <span class="text-bold text-gray-dark">{{account.login}}</a></span>
            </div>
            <div class="col2">
              {{! Repository access }}
              <div class="gitHubConfiguration__orgContent__repoAccess">
                {{#if isIPBlocked}}
                  <p class="gitHubConfiguration__orgContent__repoSelection">
                    This organization is blocking our IP address. <a class="aui-button aui-button-link" target="_blank" href='{{../repoUrl}}/blob/main/docs/ip-allowlist.md'>Learn more</a>
                  </p>
                {{else}}
                  <p
                    class="gitHubConfiguration__orgContent__repoSelection"
                  >{{repoAccessType repository_selection}}</p>
                  <p
                    class="gitHubConfiguration__orgContent__numberOfRepos"
                  >{{numberOfRepos}}</p>
                  {{#if isAdmin}}
                    <a class="gitHubConfiguration__orgContent__editContainer" href="{{html_url}}" target="_blank">
                      <span
                        class="gitHubConfiguration__orgContent__edit aui-icon aui-icon-small aui-iconfont-new-edit"
                      >
                        Edit
                      </span>
                    </a>
                  {{/if}}
                {{/if}}
              </div>

              {{! Connect }}
              {{#unless isIPBlocked}}
                <div class="gitHubConfiguration__orgContent__connect">
                  {{#if requiresSsoLogin}}
                      <div data-aui-trigger aria-controls="sso-login-message-{{account.login}}" class="gitHubConfiguration__ssoWarning">
                          <span class="aui-icon aui-icon-small aui-iconfont-warning">Warning</span>
                      </div>
                      <aui-inline-dialog class="gitHubConfiguration__ssoWarningMessage" id="sso-login-message-{{account.login}}" alignment="bottom center">
                          <p class="gitHubConfiguration__ssoMessage">
                              You cannot connect to this organization because you are not currently logged in through your SSO in GitHub.
                              Please follow the following steps:
                          </p>
                          <ul>
                              <li>
                                  Please go to the <a target="_blank" href="{{#if ../gitHubServerApp}}{{../gitHubServerApp.gitHubBaseUrl}}/organizations/{{account.login}}/settings/profile{{else}}https://github.com/organizations/{{account.login}}/settings/profile{{/if}}"> organization settings</a> page and make sure you have admin access there.
                              </li>
                              <li>
                                  Please click <a href="?resetGithubToken=true">this link</a> to reset your token. This will allow you to connect to this organization.
                              </li>
                          </ul>
                      </aui-inline-dialog>
                  {{/if}}

                  {{#if isAdmin}}
                    {{#if (isNotConnected syncStatus)}}
                      <button
                        class="gitHubConfiguration__orgContent__connectBtn aui-button install-link"
                        data-installation-id="{{id}}"
                        type="submit"
                        data-deferred-install-url="{{deferredInstallUrl}}"
                      >
                        Connect
                      </button>
                    {{else if (inProgressOrPendingSync syncStatus)}}
                      <div class="gitHubConfiguration__loaderContainer">
                        <aui-spinner size="small"></aui-spinner>
                      </div>
                    {{else if (failedSync syncStatus)}}
                      <div class="gitHubConfiguration__orgContent__connectFailed__warningIconContainer">
                        <span class="gitHubConfiguration__orgContent__connectFailed__warningIcon aui-icon aui-icon-small aui-iconfont-warning">
                          Sync failed warning
                        </span>
                      </div>
                      <button
                        class="gitHubConfiguration__orgContent__connectFailed aui-button sync-connection-link restart-backfill-button"
                        data-jira-host="{{ ../jiraHost }}"
                        data-installation-id="{{ id }}"
                        id="restart-backfill"
                      >
                        Restart backfill
                      </button>
                      <input type="hidden" id="_csrf" name="_csrf" value="{{../csrfToken}}">
                    {{else}}
                      <p class="gitHubConfiguration__orgContent__connectedMsg">
                        Connected
                      </p>
                    {{/if}}
                    <button
                            class="gitHubConfiguration__orgContent__settingsContainer{{#if (isNotConnected syncStatus)}}--notConnected{{else}} delete-subscription{{/if}}"
                        href="{{setSubscriptionUrl ../gitHubServerApp.uuid id}}"
                        aria-disabled={{isNotConnected syncStatus}}
                        disabled={{isNotConnected syncStatus}}
                    >
                        <span
                                class="aui-icon aui-icon-small aui-iconfont-trash delete-subscription"
                                data-jira-host="{{jiraHost}}"
                                data-github-installation-id="{{id}}"
                                data-github-app-uuid="{{../gitHubAppUuid}}"
                                data-org-name="{{account.login}}"
                        >
                            Delete subscription
                        </span>
                    </button>
                  {{else}}
                    <button
                        class="gitHubConfiguration__orgContent__connectBtn--disabled aui-button"
                        aria-disabled="true"
                        data-deferred-install-url="{{deferredInstallUrl}}"
                        disabled
                    >
                      Connect
                    </button>
                    <div class="gitHubConfiguration__orgContent__settingsContainer--disabled">
                      <span class="aui-icon aui-icon-small aui-iconfont-trash">Delete subscription</span>
                    </div>
                  {{/if}}

                  {{!-- Hidden unless non-admin hovers on connect button --}}
                  <p class="gitHubConfiguration__notAdminMsg">
                    You need repository admin permissions to install this app. Please contact your admin.
                  </p>

                  {{!-- Hidden unless user hovers over trash can icon and org is connected --}}
                  <p class="gitHubConfiguration__deleteSubscription">
                    Delete subscription
                  </p>

                    {{!-- Hidden unless user hovers over trash can icon and org is not connected --}}
                  <p class="gitHubConfiguration__deleteSubscription--notConnected">
                    This organisation hasn't been connected yet. Cannot delete this subscription.
                  </p>

                  {{!-- Hidden unless user hovers over trash can icon when user is not an admin --}}
                  <p class="gitHubConfiguration__deleteSubscription--notAdmin">
                    You must have admin permissions to delete Jira subscriptions. Please contact your admin.
                  </p>

                  {{!-- Hidden unless user hovers over warning icon when a sync fails --}}
                  <p class="gitHubConfiguration__failedSyncWarningLabel">
                    There was a problem syncing data from your account. The sync process will automatically retry.
                    If this does not happen, please restart backfill.
                  </p>
                </div>
              {{/unless}}
            </div>
          </div>
        {{/each}}

        {{#unless installations}}
          <p class="gitHubConfiguration__noOrganizations">No GitHub organizations with Jira installed.</p>
        {{/unless}}
      </div>

        {{> modal }}
    </div>
  </div>

  <div class="gitHubConfiguration__serverError">
    {{> server-error-message-box }}
  </div>

  <div class="text-center">
    <div class="no-organization-in-github">
      Don't see your Github organization? Install 'GitHub for Jira' on your Github organization to connect them to your Atlassian site.
    </div>
    <a
      class="aui-button aui-button-{{#if installations}}default{{else}}primary{{/if}}"
      href="configuration/app-installations"
      target="_self"
    >
      Install GitHub for Jira on a new organization
    </a>
  </div>

</section>

<script src="https://connect-cdn.atl-paas.net/all.js" nonce="{{nonce}}"></script>
<script
  src="/public/aui/aui-prototyping.js"
  integrity="sha512-DkENIkhNP5r+sfHUC5hhFAzApGNR5HTu1fzymBBhXZma4zytOUQh8qhz5xc3nSbSQfdYI6qdI281YwUNmubEMw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  nonce="{{nonce}}"
></script>
<script src="/public/js/github-configuration.js" nonce="{{nonce}}"></script>
<script src="/public/js/navigation.js" nonce="{{nonce}}"></script>
</body>

</html>
