<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>Setup</title>
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <script src="/public/js/jquery.min.js"></script>
</head>

<body class="bg-gray px-3 py-6">
  <section class="mx-auto" style="max-width: 510px">
    <h2 class="f2 text-center text-normal">Jira Cloud configuration</h2>
    <p class="text-gray text-center mb-4">What's your Jira Cloud Site?</p>

    <form method="post" action="/github/setup">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="input-group">
        <input class="form-control input-lg" type="text" name="jiraSubdomain" placeholder="Jira Cloud Site"
          aria-label="Jira Cloud Site" value="{{jiraSubdomain}}" autofocus>
        <span class="input-group-button">
          <select name="jiraDomain" class="form-select" aria-label="Preference">
            {{#each jiraDomainOptions}}
              <option {{#if selected}}selected{{/if}}>{{value}}</option>
            {{/each}}
          </select>
        </span>
      </div>
      <p class="pt-2">
        <button class="btn btn-primary" type="submit">Continue</button>
      </p>
      {{#if error}}
        <div class="flash flash-error mb-2">
          {{error}}
        </div>
      {{/if}}
    </form>
  </section>
</body>

</html>
