<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <title>Setup</title>
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>

    <link rel="stylesheet" href="/public/primer/build.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/aui/aui-prototyping.css"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/github-setup.css" media="all" />
    <link rel="stylesheet" href="/public/css/global.css" media="all" />
  </head>

  <body class="pageContent">
    <section class="gitHubSetup__getJira__container">
      <p class="gitHubSetup__getJira__message">Don't have a Jira site?</p>
      <a
        class="gitHubSetup__getJira__link"
        href="https://www.atlassian.com/software/jira"
        target="_blank"
      >Get Jira</a>
    </section>

    <div class="headerImage">
      <img
        src="/public/assets/jira-and-github.png"
        alt="Jira and GitHub logos"
      />
    </div>

    <h2 class="f2 text-center text-normal gitHubSetup__header">Jira Cloud
      configuration</h2>
    {{#if jiraHost}}
      <p class="text-center text-normal gitHubSetup__subHeader">Which site would
        you like to connect?</p>
    {{/if}}

    <section class="githubSetup__newJiraSiteModal" id="new-jira-site-modal">
      <div class="githubSetup__newJiraSiteModalContent">
        {{> githubSetupForm csrfToken=csrfToken error=error id="jiraDomainModal" }}
      </div>

      <div class="githubSetup__newJiraSiteModalOverlay"></div>
    </section>

    <section class="githubSetup__container">
      {{#if jiraHost}}
        <div class="githubSetup__jiraHostWrapper">
          <div class="githubSetup__headerWrapper">
            <p class="tableHeader__label org__cell">Jira site</p>
          </div>

          <div class="githubSetup__table">
            <div class="githubSetup__table__row clearfix">
              <img
                  class="githubSetup__table__logo"
                  src="/public/assets/jira-software-logo.png"
                  alt="Jira software logo"
              />
              <a class="githubSetup__marketplaceUrl" href={{marketplaceUrl}}>
                {{jiraHost}}
              </a>
            </div>
          </div>

          <div
            class="githubSetup__connectNewJiraInstance connect-new-instance"
            id="new-jira-site-modal-btn"
          >
            <span class="githubSetup__connectNewJiraInstance__plus">+</span>
            Connect another Jira Cloud site
          </div>
        </div>
      {{else}}
        {{> githubSetupForm csrfToken=csrfToken error=error id="jiraDomainMain" }}
      {{/if}}
  </section>
  <script src="/public/js/github-setup.js" nonce="{{nonce}}"></script>
</html>
