<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <title>Setup</title>
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>

    <link rel="stylesheet" href="/public/primer/build.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/aui/aui-prototyping.css"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css/github-setup.css" media="all" />
    <link rel="stylesheet" href="/public/css/global.css" media="all" />
  </head>

  <body>

  {{> navigation }}

  <div class="headerImage">
      <img
        src="/public/assets/jira-and-github.png"
        alt="Jira and GitHub logos"
      />
    </div>

    <h2 class="f2 text-center text-normal gitHubSetup__header">
      Connect a GitHub organization to your Jira site
    </h2>
    {{#if jiraHost}}
      <p class="text-center text-normal gitHubSetup__subHeader">Confirm your connection</p>
    {{/if}}

    <section class="githubSetup__newJiraSiteModal" id="new-jira-site-modal">
      <div class="githubSetup__newJiraSiteModalContent">
        {{> github-setup-form csrfToken=csrfToken error=error id="jiraDomainModal" className="inputModal" }}
      </div>

      <div class="githubSetup__newJiraSiteModalOverlay"></div>
    </section>

    <section class="githubSetup__container">
      {{#if jiraHost}}
        <div class="githubSetup__githubOrgConfirmation__outerContainer">
          <div class="githubSetup__githubOrgConfirmation__container">
            <p class="githubSetup__githubOrgConfirmation__label">
              Select Jira Cloud site to connect to your GitHub organization
            </p>
            {{#if orgName}}
              <div class="githubSetup__githubOrgConfirmation__selectedOrgContainer">
                {{#if isGitHubCloudApp}}
                    <img
                      class="githubSetup__githubOrgConfirmation__avatar"
                      src="{{avatar}}"
                      height="24"
                      width="24"
                      data-installation-id="{{id}}"
                    />
                {{/if}}
                <span
                  class="githubSetup__githubOrgConfirmation__orgName"
                >{{orgName}}</span>
              </div>
            {{/if}}
          </div>

        </div>

        <div class="githubSetup__jiraHostWrapper">
          <div class="githubSetup__headerWrapper">
            <p class="tableHeader__label org__cell">Jira site</p>
          </div>

          <div class="githubSetup__table">
            <div class="githubSetup__table__row clearfix">
              <div class="githubSetup__table__row__jiraHostContainer">
                <img
                    class="githubSetup__table__logo"
                    src="/public/assets/jira-software-logo.png"
                    alt="Jira software logo"
                />
                <p class="githubSetup__marketplaceUrl">
                  {{jiraHost}}
                </p>
                <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}">
                 <input
                  type="hidden"
                  id="clientKey"
                  name="clientKey"
                  value="{{clientKey}}"
                />
              </div>
              {{#if clientKey}}
                <button
                  class="githubSetup__orgContent__connectBtn aui-button install-link"
                  data-installation-id="{{id}}"
                  type="submit"
                >
                  Connect
                </button>
              {{else}}
                <button
                  class="githubSetup__orgContent__connectBtn aui-button install-app"
                  data-jirahost="{{jiraHost}}"
                  type="submit"
                >
                  Install App
                </button>
              {{/if}}
            </div>
          </div>

          <div
            class="githubSetup__connectNewJiraInstance connect-new-instance"
            id="new-jira-site-modal-btn"
          >
            <span class="githubSetup__connectNewJiraInstance__plus">+</span>
            Connect another Jira Cloud site
          </div>
        </div>
      {{else}}
        <div class="githubSetup__githubOrgConfirmation__outerContainer">
          <div class="githubSetup__githubOrgConfirmation__container">
            <p class="githubSetup__githubOrgConfirmation__label">
              Enter your Jira Cloud site to connect to your GitHub organization
            </p>
            {{#if orgName}}
              <div class="githubSetup__githubOrgConfirmation__selectedOrgContainer">
                {{#if isGitHubCloudApp}}
                  <img
                    class="githubSetup__githubOrgConfirmation__avatar"
                    src="{{avatar}}"
                    height="24"
                    width="24"
                    data-installation-id="{{id}}"
                  />
                {{/if}}
                <span
                  class="githubSetup__githubOrgConfirmation__orgName"
                >{{orgName}}</span>
              </div>
            {{/if}}
          </div>

        </div>
        {{> github-setup-form csrfToken=csrfToken error=error id="jiraDomainMain" className="inputMain" }}
      {{/if}}
  </section>
  <script src="https://connect-cdn.atl-paas.net/all.js" nonce="{{nonce}}"></script>
  <script src="/public/js/navigation.js" nonce="{{nonce}}"></script>
  <script src="/public/js/github-setup.js" nonce="{{nonce}}"></script>
  </body>
</html>
