<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/primer/build.css" media="all" />
  <link
      rel="stylesheet"
      href="/public/css/global.css"
      media="all"
    />
  <link
      rel="stylesheet"
      href="/public/css/github-subscription.css"
      media="all"
    />
  <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
</head>

<body class="px-3 py-6">
  <section class="mx-auto" style="max-width: 570px">
    <div class="headerImage">
      <img src="/public/assets/jira-and-github.png" />
    </div>

    <h2 class="headerText">Manage Jira Subscriptions</h2>
    <p class="jiraInstance">{{host}}</p>

    <div class="getSubscription__info__container">
      <img src="/public/assets/icon.png" alt="Information icon" class="getSubscription__info__icon" />
      <p class="getSubscription__info__message">From here you can review and delete subscriptions to the Jira instances connected to this GitHub organization.</p>
    </div>

    <div class='tableHeader'>
      <p
        class='tableHeader__label connectedInstances'
      >Connected Jira instances</p>
    </div>

    <div class="githubOrgs__table">
      {{#if hasSubscriptions }}
        {{#each subscriptions}}
          <div class="getSubscription__installation">
            <div class="getSubscription__installation__instance">
              <input type="hidden" id="_csrf" name="_csrf" value="{{../csrfToken}}">
              <input type="hidden" id="installationId" name="installationId" value="{{gitHubInstallationId}}">
              <input type="hidden" id="jiraHost" name="jiraHost" value="{{jiraHost}}">
              <img src="/public/assets/jira-software-logo.png" alt="Jira Software Logo" class="getSubscription__installation__jiraLogo" />
              <span>{{jiraHost}}</span>
            </div>
            <button class="actionBtn" data-jira-host="{{jiraHost}}" data-installation-id="{{gitHubInstallationId}}">Delete</button>
          </div>
        {{/each}}
      {{else}}
        <div class="getSubscription__installation">
          <p class="getSubscription__installation__instance--empty" data-installation-id="{{ id }}">No subscriptions found for this installation</p>
        </div>
      {{/if}}
    </div>

  </section>
  <script src="/public/js/github-configuration.js" nonce="{{nonce}}"></script>
</body>

</html>
