<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <meta name="public-url" content="{{APP_URL}}" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="/public/aui/aui-prototyping.css"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/atlassian-ui-kit/bundle.css"
      media="all"
    />
    <link rel="stylesheet" href="/public/css/global.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/css/jira-configuration.css"
      media="all"
    />
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
  </head>

  <body class="aui-page-hybrid" data-use-new-spa-experience="{{useNewSPAExperience}}" >
    <div class="jiraConfiguration">
      <header class="jiraConfiguration__header">
        <h1 class="jiraConfiguration__header__title">GitHub configuration</h1>
        {{#if hasConnections}}
          <button
              class="jiraConfiguration__header__title__cta ak-button ak-button__appearance-primary aui-button aui-dropdown2-trigger"
              aria-controls="connectBtnDropdown"
          >Connect a GitHub organization
          </button>
          <aui-dropdown-menu id="connectBtnDropdown">
            <aui-section>
              <a class="jiraConfiguration__connectBtnDropdownOption add-organization-link"
                 data-gh-cloud="true"
                 target="_blank">
                <span>Connect GitHub Cloud</span>
                <i class="aui-icon aui-iconfont-question-filled"></i>
                <div class="jiraConfiguration__connectGHCloudTooltip">Select this option if the URL of your GitHub
                  organization starts with "http://github.com".
                  This includes “Free”, “Team” and “GitHub Cloud Enterprise” accounts.
                </div>
              </a>
              <a class="jiraConfiguration__connectBtnDropdownOption add-enterprise-link">
                <span>Connect GitHub Server</span>
                <i class="aui-icon aui-iconfont-question-filled"></i>
                <div class="jiraConfiguration__connectGHETooltip">Select this option if you use the on-premise version of
                  GitHub installed into your own infrastructure.
                  The URL for your GitHub organization starts with your own unique domain.
                </div>
              </a>
            </aui-section>
          </aui-dropdown-menu>
        {{/if}}
      </header>

      <section class="jiraConfiguration_content">
        {{#if hasConnections}}
          <p>
            Connecting GitHub to Jira allows you to view development activity in the context of your Jira project and
            issues. To send development data from GitHub to Jira, your team must include issue keys in branch names,
            commit messages, and pull request titles. <br/>
            Even if your organization is still backfilling historical data, you can start using issue keys in your
            development work immediately.
        </p>

          {{!-- Backfill Status Info Modal --}}
          <div class='jiraConfiguration__syncRetryModal'  id="sync-status-modal">
            <div class='jiraConfiguration__syncRetryModalContent'>
              <div class="jiraConfiguration__syncRetryModal__headerContainer">
                <h4 class="jiraConfiguration__syncRetryModal__header">Backfill status</h4>
                <span id="status-close" class="jiraConfiguration__syncRetryModal__closeBtn aui-icon aui-iconfont-close-dialog"></span>
              </div>

              <table class="jiraConfiguration__syncRetryModal__table">
                <tbody class="jiraConfiguration__syncRetryModal__tableBody">
                  <tr class="jiraConfiguration__syncRetryModal__tableRow">
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__type">
                      <span class="syncStatusInProgress">In progress</span>
                    </td>
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__details">
                      Backfilling data has started and is still in progress for this account. New data may not immediately be displayed in Jira.
                    </td>
                  </tr>

                  <tr class="jiraConfiguration__syncRetryModal__tableRow">
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__type">
                      <span class="syncStatusFailed">Failed</span>
                    </td>
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__details">
                      There was a problem backfilling data from your account. The backfill process will automatically retry.
                      However, if this does not happen, click the retry button next to the status, or "restart backfill" in the dropdown menu.
                    </td>
                  </tr>

                  <tr class="jiraConfiguration__syncRetryModal__tableRow">
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__type">
                      <span class="syncStatusPending">Pending</span>
                    </td>
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__details">
                      The backfill has been queued, but is not actively backfilling data from GitHub.
                    </td>
                  </tr>

                  <tr class="jiraConfiguration__syncRetryModal__tableRow">
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__type">
                       <span class="syncStatusFinished">Finished</span>
                    </td>
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__details">
                      The backfill has finished. Information from selected repositories will be shown in Jira’s development information panel.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="jiraConfiguration__syncRetryModalOverlay"></div>
          </div>

          <!-- Restart backfill modal-->
          <div class='jiraConfiguration__restartBackfillModal'  id="restart-backfill-modal">
            <div class='jiraConfiguration__restartBackfillModalContent'>
              <div class="jiraConfiguration__restartBackfillModal__header__container">
                <h3>Backfill your data</h3>
              </div>
              <div class="jiraConfiguration__restartBackfillModal__header__content">
                <p>Backfilling data can take a long time, so we’ll only backfill your data from the last 6 months. If you want to backfill more data, choose a date below. Branches will be backfilled regardless of their age.</p>
              </div>
              <form id="jiraConfiguration__restartBackfillModal__form" class="aui top-label">
                <div class="field-group">
                  <label for="backfill-date-picker">
                    Backfill data from
                  <span class="jiraConfiguration__restartBackfillModal__required">*</span>
                  </label>
                  <input class="jiraConfiguration__restartBackfillModal__date text full-width-field"
                         type="date"
                         id="backfill-date-picker"
                         data-aui-validation-field required
                         name="backfill-date-picker"
                  />
                </div>
                <div class="field-group">
                  <input class="jiraConfiguration__restartBackfillModal__fullsync"
                         type="checkbox"
                         id="backfill-fullsync-checkbox"
                         name="backfill-fullsync-checkbox"
                  />
                  <label for="backfill-fullsync-checkbox" class="jiraConfiguration__restartBackfillModal__fullsync__label">
                    Restart the backfill from today to this date <span class="jiraConfiguration__restartBackfillModal__fullsync__label-icon aui-icon aui-iconfont-info-filled" title="Tick this if you think the data is not backfilled correctly. This will clear already backed up data and restart the backfill from today to this selected date."></span>
                  </label>
                </div>
                <div class="jiraConfiguration__restartBackfillModal__actions">
                  <button class="aui-button aui-button-secondary" type="button" id="cancel-backfill">Cancel</button>
                  <button type="submit" id="submit-backfill-data" class="aui-button aui-button-primary">Backfill data</button>
                </div>
              </form>
            </div>
            <div class="jiraConfiguration__restartBackfillModalOverlay"></div>
          </div>
          {{#if hasCloudAndEnterpriseServers}}
            <div class="jiraConfiguration__optionContainer">
              <button class="aui-button jiraConfiguration__option jiraConfiguration__selected"
                      id="jiraConfiguration__optionAll">All
              </button>
              <button class="aui-button jiraConfiguration__option" id="jiraConfiguration__optionCloud">
                <img src="/public/assets/cloud.svg" class="jiraConfiguration__optionsIcon" alt="">
                GitHub Cloud
              </button>
              <button class="aui-button jiraConfiguration__option" id="jiraConfiguration__optionEnterprise">
                <img src="/public/assets/server.svg" class="jiraConfiguration__optionsIcon" alt="">
                GitHub Enterprise Server
              </button>
            </div>
          {{/if}}

          {{#if hasCloudServers}}
            <div class="jiraConfiguration__cloudContainer">
              {{#if hasCloudAndEnterpriseServers}}
                <div class="jiraConfiguration__optionHeader">GitHub Cloud</div>
              {{/if}}
              <div class="jiraConfiguration__cloudConnections">
                {{> jira-configuration-table
                    id=id
                    host=host
                    elementIdPrefix="ghCloud-"
                    html_url=html_url
                    csrfToken=csrfToken
                    successfulConnections=ghCloud.successfulCloudConnections
                    failedConnections=ghCloud.failedCloudConnections
                    enableRepoConnectedPage=enableRepoConnectedPage
                }}
              </div>
            </div>
          {{/if}}

          {{#if gheServers.length}}
            <div class="jiraConfiguration__enterpriseContainer">
              {{#if hasCloudAndEnterpriseServers}}
                <div class="jiraConfiguration__optionHeader">GitHub Enterprise Server</div>
              {{/if}}
              {{#each gheServers as |server|}}
                <div class="jiraConfiguration__enterpriseServer">
                  <div class="jiraConfiguration__enterpriseServer__header__container" data-server-baseUrl="{{server.gitHubBaseUrl}}">
                    <div class="jiraConfiguration__enterpriseServer__header">{{server.gitHubBaseUrl}}</div>
                    <button
                        class="aui-button jiraConfiguration__enterpriseServer__disconnectButton disconnect-server-btn"
                        data-server-baseurl="{{server.gitHubBaseUrl}}"
                    >
                      Disconnect server
                    </button>
                  </div>
                  <div class="jiraConfiguration__enterpriseConnections">
                    <div class="jiraConfiguration__enterpriseApplicationTitle">APPLICATIONS</div>
                    {{#each server.applications as |app|}}
                      <details open>
                        <summary class="jiraConfiguration__collapsibleHeader jiraConfiguration__table__cell__settings">
                          <div>
                            <span class="aui-icon aui-iconfont-chevron-right"></span>
                            <span class="aui-icon aui-iconfont-chevron-down"></span>
                            <span class="jiraConfiguration__optionHeader">{{app.gitHubAppName}}</span>
                          </div>
                          <button
                              class="aui-button aui-dropdown2-trigger aui-dropdown2-trigger-arrowless jiraConfiguration__appDropdown"
                              aria-controls="app-settings-dropdown-{{id}}"
                          >
                            <span class="jiraConfiguration__appDropdownIcon">...</span>
                          </button>
                          <aui-dropdown-menu class="jiraConfiguration__table__dropdown" id="app-settings-dropdown-{{id}}">
                          <h6 class="jiraConfiguration__table__cell__settings__header">
                            <span class="jiraConfiguration__table__cell__settings__headerItem">Application</span>
                          </h6>
                          <aui-section class="jiraConfiguration__table__cell__settings__dropdownItems">
                             <input type="hidden" id="_csrf" name="_csrf" value="{{../../csrfToken}}">
                             <div class="jiraConfiguration__table__cell__gitHubAppItem">
                               <button
                                   class="jiraConfiguration__editGitHubApp"
                                   data-app-uuid="{{app.uuid}}"
                               >
                                 Edit
                               </button>
                             </div>
                             <div class="jiraConfiguration__table__cell__gitHubAppItem" data-app-uuid="{{app.gitHubAppName}}">
                               <button
                                   class="jiraConfiguration__deleteGitHubApp disconnect-app-btn"
                                   data-app-uuid="{{app.uuid}}"
                                   data-app-name="{{app.gitHubAppName}}"
                               >
                                 Disconnect
                               </button>
                             </div>
                           </aui-section>
                         </aui-dropdown-menu>
                        </summary>
                        <div class="jiraConfiguration__collapsibleBody">
                          {{#if app.installations.total}}
                            {{> jira-configuration-table
                                id=id
                                host=../../host
                                hideAvatar=true
                                elementIdPrefix="gheServer-"
                                html_url=html_url
                                csrfToken=../../csrfToken
                                gitHubAppId=app.id
                                successfulConnections=app.successfulConnections
                                failedConnections=app.failedConnections
                                gitHubAppId=app.id
                                enableRepoConnectedPage=../../enableRepoConnectedPage
                            }}
                          {{else}}
                            <div class="jiraConfiguration__collapsibleBody">
                              <div class="jiraConfiguration__noOrgsTitle">Connected organizations</div>
                              <div class="jiraConfiguration__noOrgsBody">
                                No connected organizations.
                                <a href="#" class="jiraConfiguration__connectNewApp" data-app-uuid="{{app.uuid}}">Connect a GitHub organization.</a>
                              </div>
                            </div>
                          {{/if}}
                        </div>
                      </details>
                    {{/each}}
                  </div>
                </div>

              {{/each}}
            </div>
          {{/if}}
        {{else}}
          {{> jira-configuration-empty-connections csrfToken=csrfToken}}
        {{/if}}

        {{> modal }}
      </section>
    </div>
    <script src="/public/js/jira-configuration.js" nonce="{{nonce}}"></script>
    <!-- Per https://blog.developer.atlassian.com/announcement-reminder-about-deprecation-of-xdm_e-usage-and-needing-to-load-all-js-from-the-cdn/ we are required to load this from this specific CDN -->
    <!-- DO NOT TOUCH!!! THIS IS NEEDED FOR CONNECT OR ELSE IT WILL CAUSE AN ERROR -->
    <script
      src="https://connect-cdn.atl-paas.net/all.js"
      nonce="{{nonce}}"
    ></script>
    <script
      src="/public/aui/aui-prototyping.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      nonce="{{nonce}}"
    ></script>
  </body>
</html>
