<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <meta name="public-url" content="{{APP_URL}}" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="/public/aui/aui-prototyping.css"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/atlassian-ui-kit/bundle.css"
      media="all"
    />
    <link rel="stylesheet" href="/public/css/global.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/css/jira-configuration-new.css"
      media="all"
    />
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
  </head>

  <body class="aui-page-hybrid">
    <div class="jiraConfiguration">
      <header class="jiraConfiguration__header">
        <h1 class="jiraConfiguration__header__title">GitHub configuration</h1>

        {{#if hasConnections}}
          <button
              class="jiraConfiguration__header__title__cta ak-button ak-button__appearance-primary aui-button aui-dropdown2-trigger"
              aria-controls="connectBtnDropdown"
          >Connect a GitHub organization
          </button>
          <aui-dropdown-menu id="connectBtnDropdown">
            <aui-section>
              <a class="jiraConfiguration__connectBtnDropdownOption add-organization-link"
                 target="_blank">
                <span>Connect GitHub Cloud</span>
                <i class="aui-icon aui-iconfont-question-filled"></i>
                <div class="jiraConfiguration__connectGHCloudTooltip">Select this option if the URL of your GitHub
                  organization starts with "http://github.com".
                  This includes “Free”, “Team” and “GitHub Cloud Enterprise” accounts.
                </div>
              </a>
              <a class="jiraConfiguration__connectBtnDropdownOption select-github-version-link">
                <span>Connect GitHub Server</span>
                <i class="aui-icon aui-iconfont-question-filled"></i>
                <div class="jiraConfiguration__connectGHETooltip">Select this option if you use the on-premise version of
                  GitHub installed into your own infrastructure.
                  The URL for your GitHub organization starts with your own unique domain.
                </div>
              </a>
            </aui-section>
          </aui-dropdown-menu>
        {{/if}}
      </header>

      <section class="jiraConfiguration_content">
        {{#if hasConnections}}
          <p>
            After you connect your GitHub account or organization to Jira and include issue keys in branch names, commit
            messages, and pull requests titles, you will be able to:
          </p>
          <ul class="jiraConfiguration__content__list">
            <li>Create branches and pull requests from your Jira project.</li>
            <li>View development information within your linked Jira issue.</li>
            <li>View deployment pipelines over a timeline in your insights.</li>
          </ul>
          <p>Even if your organization is still backfilling historical data, you can start linking issue keys in your
            development work immediately.</p>

          {{!-- Backfill Status Info Modal --}}
          <div class='jiraConfiguration__syncRetryModal'  id="sync-status-modal">
            <div class='jiraConfiguration__syncRetryModalContent'>
              <div class="jiraConfiguration__syncRetryModal__headerContainer">
                <h4 class="jiraConfiguration__syncRetryModal__header">Backfill status</h4>
                <span id="status-close" class="jiraConfiguration__syncRetryModal__closeBtn aui-icon aui-iconfont-close-dialog"></span>
              </div>

              <table class="jiraConfiguration__syncRetryModal__table">
                <tbody class="jiraConfiguration__syncRetryModal__tableBody">
                  <tr class="jiraConfiguration__syncRetryModal__tableRow">
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__type">
                      <span class="syncStatusInProgress">In progress</span>
                    </td>
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__details">
                      Backfilling data has started and is still in progress for this account. New data may not immediately be displayed in Jira.
                    </td>
                  </tr>

                  <tr class="jiraConfiguration__syncRetryModal__tableRow">
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__type">
                      <span class="syncStatusFailed">Failed</span>
                    </td>
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__details">
                      There was a problem backfilling data from your account. The backfill process will automatically retry.
                      However, if this does not happen, click the retry button next to the status, or "restart backfill" in the dropdown menu.
                    </td>
                  </tr>

                  <tr class="jiraConfiguration__syncRetryModal__tableRow">
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__type">
                      <span class="syncStatusPending">Pending</span>
                    </td>
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__details">
                      The backfill has been queued, but is not actively backfilling data from GitHub.
                    </td>
                  </tr>

                  <tr class="jiraConfiguration__syncRetryModal__tableRow">
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__type">
                       <span class="syncStatusFinished">Finished</span>
                    </td>
                    <td class="jiraConfiguration__syncRetryModal__syncStatus__details">
                      The backfill has finished. Information from selected repositories will be shown in Jira’s development information panel.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="jiraConfiguration__syncRetryModalOverlay"></div>
          </div>

          {{#if hasCloudAndEnterpriseServers}}
            <div class="jiraConfiguration__optionContainer">
              <button class="aui-button jiraConfiguration__option jiraConfiguration__selected"
                      id="jiraConfiguration__optionAll">All
              </button>
              <button class="aui-button jiraConfiguration__option" id="jiraConfiguration__optionCloud">
                <img src="/public/assets/cloud.svg" class="jiraConfiguration__optionsIcon" alt="">
                GitHub Cloud
              </button>
              <button class="aui-button jiraConfiguration__option" id="jiraConfiguration__optionEnterprise">
                <img src="/public/assets/server.svg" class="jiraConfiguration__optionsIcon" alt="">
                GitHub Enterprise Server
              </button>
            </div>
          {{/if}}

          {{#if hasCloudServers}}
            <div class="jiraConfiguration__cloudContainer">
              <div class="jiraConfiguration__optionHeader">GitHub Cloud</div>
              <div class="jiraConfiguration__cloudConnections">
                {{> jira-configuration-table
                    id=id
                    elementIdPrefix="ghCloud-"
                    html_url=html_url
                    csrfToken=csrfToken
                    successfulConnections=ghCloud.successfulConnections
                    failedConnections=ghCloud.failedConnections
                }}
              </div>
            </div>
          {{/if}}

          {{#if gheServers.length}}
            <div class="jiraConfiguration__enterpriseContainer">
              <div class="jiraConfiguration__optionHeader">GitHub Enterprise Server</div>
              {{#each gheServers as |server|}}
                <div class="jiraConfiguration__enterpriseServer">
                  <div class="jiraConfiguration__collapsibleHeaderTitle">{{server.gitHubBaseUrl}}</div>
                  <div class="jiraConfiguration__enterpriseConnections">
                    <div class="jiraConfiguration__enterpriseApplicationTitle">APPLICATION</div>
                    {{#each server.applications as |app|}}
                      <details>
                        <summary class="jiraConfiguration__collapsibleHeader jiraConfiguration__table__cell__settings">
                          <div>
                            <span class="aui-icon aui-iconfont-chevron-right"></span>
                            <span class="aui-icon aui-iconfont-chevron-down"></span>
                            <span class="jiraConfiguration__optionHeader">{{app.gitHubAppName}}</span>
                          </div>
                          <button
                              class="aui-button aui-dropdown2-trigger aui-dropdown2-trigger-arrowless jiraConfiguration__appDropdown"
                              aria-controls="app-settings-dropdown-{{id}}"
                          >
                            <span class="jiraConfiguration__appDropdownIcon">...</span>
                          </button>
                          <aui-dropdown-menu class="" id="app-settings-dropdown-{{id}}">
                            <aui-section>
                              <!--TODO: need to add url for this-->
                              <a
                                  class=""
                                  href="#"
                                  data-installation-link="{{html_url}}"
                                  target="_blank"
                              >
                                Edit
                              </a>
                              <!--TODO: need to add functionality for this-->
                              <a
                                  class=""
                                  href="#"
                                  data-installation-link="{{html_url}}"
                                  target="_blank"
                              >
                                Delete
                              </a>
                            </aui-section>
                          </aui-dropdown-menu>
                        </summary>
                        <div class="jiraConfiguration__collapsibleBody">
                          {{#if app.installations.total}}
                            {{> jira-configuration-table
                                id=id
                                hideAvatar=true
                                elementIdPrefix="gheServer-"
                                html_url=html_url
                                csrfToken=csrfToken
                                successfulConnections=app.successfulConnections
                                failedConnections=app.failedConnections
                            }}
                          {{else}}
                            <div class="jiraConfiguration__collapsibleBody">
                              <div class="jiraConfiguration__noOrgsTitle">Connected organizations</div>
                              <div class="jiraConfiguration__noOrgsBody">
                                No connected organizations.
                                <a href="#" class="jiraConfiguration__connectNewApp" data-server-baseurl="{{server.gitHubBaseUrl}}">Connect a GitHub organization.</a>
                              </div>
                            </div>
                          {{/if}}
                        </div>
                      </details>
                    {{/each}}
                  </div>
                </div>
              {{/each}}
            </div>
          {{/if}}
        {{else}}
          {{> jira-configuration-empty-connections csrfToken=csrfToken}}
        {{/if}}
      </section>

    </div>

    <script src="/public/js/jira-configuration.js" nonce="{{nonce}}"></script>
    <!-- Per https://blog.developer.atlassian.com/announcement-reminder-about-deprecation-of-xdm_e-usage-and-needing-to-load-all-js-from-the-cdn/ we are required to load this from this specific CDN -->
    <!-- DO NOT TOUCH!!! THIS IS NEEDED FOR CONNECT OR ELSE IT WILL CAUSE AN ERROR -->
    <script
      src="https://connect-cdn.atl-paas.net/all.js"
      nonce="{{nonce}}"
    ></script>
    <script
      src="/public/aui/aui-prototyping.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      nonce="{{nonce}}"
    ></script>
  </body>
</html>
