<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link rel="stylesheet" href="/public/atlassian-ui-kit/bundle.css" media="all" />
    <link rel="stylesheet" href="/public/css/styles.css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body class="aui-page-hybrid">
    <div class="ac-content">
      <div class="page-content">
        <header class="title">
          <h1>GitHub Configuration</h1>
        </header>

        <nav class="actions">
          <button class="ak-button ak-button__appearance-primary add-organization-link">Add an Organization</button>
        </nav>

        <section class="content">
          {{#if connections}}
            <table>
              <thead>
                <tr>
                  <th>Organization</th>
                  <th>Repositories</th>
                  <th>Added</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each connections}}
                  <tr>
                    <td><img class="connection-avatar" src="{{ account.avatar_url }}" height="24" width="24" /> {{ account.login }}</td>
                    <td>
                      {{#if isGlobalInstall }}
                        All
                      {{else}}
                        Limited
                      {{/if}}
                    </td>
                    <td>{{ updated_at }}</td>
                    <td>
                      <button class="ak-button ak-button__appearance-link delete-connection-link" data-installation-id="{{ id }}">Delete</button>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <div class="empty-message">
              <h4>You aren't connected to any organizations! Let's fix that!</h4>
              <button class="ak-button ak-button__appearance-primary add-organization-link">Add an Organization</button>
            </div>
          {{/if}}
        </section>
        <script src="/public/js/script.js"></script>
      </div>
      <script>
        /* globals $, AP */
        const params = new URLSearchParams(window.location.search.substring(1))

        $('.add-organization-link').click(function () {
          const child = window.open(`/github/redirect?jwt=${encodeURIComponent(params.get('jwt'))}&xdm_e=${encodeURIComponent(params.get('xdm_e'))}`)

          const interval = setInterval(function () {
            if (child.closed) {
              clearInterval(interval)

              AP.navigator.reload()
            }
          }, 100)
        })

        $('.delete-connection-link').click(function (event) {
          event.preventDefault()

          $.ajax({
            type: 'DELETE',
            url: `/jira/configuration?jwt=${encodeURIComponent(params.get('jwt'))}&xdm_e=${encodeURIComponent(params.get('xdm_e'))}`,
            data: {
              installationId: $(event.target).data('installation-id')
            },
            success: function (data) {
              AP.navigator.reload()
            }
          })
        })
      </script>
    </div>
    <script src="{{host}}/atlassian-connect/all.js"></script>
  </body>
</html>
