<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link rel="stylesheet" href="/public/atlassian-ui-kit/bundle.css" media="all" />
    <link rel="stylesheet" href="/public/css/styles.css" media="all" />
    <script src="/public/js/jquery.min.js"></script>
  </head>
  <body class="aui-page-hybrid">
    <div class="ac-content">
      <div class="page-content">
        <header class="title">
          <h1>GitHub configuration</h1>
        </header>
        
        {{#if hasConnections}}
        <nav class="actions">
            <button class="ak-button ak-button__appearance-primary add-organization-link">Add an organization</button>
        </nav>
        {{/if}}

        <section class="content">
          {{#if hasConnections}}
            <table>
              <thead>
                <tr>
                  <th>Organization</th>
                  <th>Repositories</th>
                  <th>Added</th>
                  <th></th>
                  <th>Sync Status</th>
                  <th>Retry</th>
                </tr>
              </thead>
              <tbody>
                {{#each connections}}
                  <tr>
                    <td><img class="connection-avatar" src="{{ account.avatar_url }}" height="24" width="24" /> {{ account.login }}</td>
                    <td>
                      {{#if isGlobalInstall }}
                        All
                      {{else}}
                        Selected
                      {{/if}}
                    </td>
                    <td>{{ updated_at }}</td>
                    <td>
                      <button class="ak-button ak-button__appearance-link delete-connection-link" data-installation-id="{{ id }}">Remove</button>
                      <a class="ak-button ak-button__appearance-link configure-connection-link" href="{{ html_url }}" data-installation-link="{{ html_url }}" target="_blank">Configure</a>
                    </td>
                    <td>
                      <span id="{{id}}-status"> {{ syncStatus }} </span>
                    </td>
                    <td>
                      <button class="ak-button ak-button__appearance-link sync-connection-link" data-jira-host="{{ ../host }}" data-installation-id="{{ id }}">🔄</button>
                    </td>
                  </tr>
                {{/each}}
                {{#each failedConnections}}
                  <tr>
                    <td class="error-message">
                      #{{ id }}
                      {{#if deleted}}
                        This installation seems to be removed from GitHub but not from the database
                      {{else}}
                        There was an error getting the information of this installation
                      {{/if}}
                    </td>
                    <td></td>
                    <td>{{ updated_at }}</td>
                    <td>
                      <button class="ak-button ak-button__appearance-link delete-connection-link" data-installation-id="{{ id }}">Remove</button>
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <div class="empty-message">
              <h4>You don't have any connected GitHub organizations. Let's fix that!</h4>
              <p>You'll be redirected to GitHub to select the organizations and repositories you'd like to connect with Jira.</p>
              <button class="ak-button ak-button__appearance-primary add-organization-link">Add an Organization</button>
            </div>
          {{/if}}
        </section>

        {{#if hasConnections}}
           <p>Metadata for commits, branches, and pull requests that use the <a href="https://confluence.atlassian.com/jirasoftwarecloud/processing-issues-with-smart-commits-788960027.html">Smart Commit syntax</a>
           will be synced to Jira and appear in the <a href="https://confluence.atlassian.com/jirasoftwarecloud/viewing-the-development-information-for-an-issue-777002795.html">Development Information panel</a>
           of the relevant issue.</p>
        {{/if}}
      </div>
      <script src="/public/js/jira-configuration.js"></script>
    </div>
    <script src="{{host}}/atlassian-connect/all.js"></script>
  </body>
</html>
