<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <meta name="public-url" content="{{APP_URL}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link rel="stylesheet" href="/public/atlassian-ui-kit/bundle.css" media="all" />
    <link rel="stylesheet" href="/public/css/styles.css" media="all" />
    <link rel="stylesheet" href="/public/css/jira-configuration.css" media="all" />
    <script src="/public/js/jquery.min.js"></script>
  </head>
  <body class="aui-page-hybrid">
    <div class="ac-content">
      <div class="page-content">
        <header class="title">
          <h1>GitHub configuration</h1>
        </header>

        {{#if hasConnections}}
        <nav class="actions">
            {{#if maintenanceMode}}
            <button class="ak-button ak-button__appearance-primary add-organization-link" disabled>Manage Organizations</button>
            {{else}}
            <button class="ak-button ak-button__appearance-primary add-organization-link">Manage Organizations</button>
            {{/if}}
        </nav>
        {{/if}}

        {{#if maintenanceMode}}
        <section class="warning">
          <div class="icon">
            <img width="18" height="17" src="/public/warning-icon.svg" alt="Warning!"/>
          </div>
          <div>
          <h2>Github integration is temporarily under maintenance</h2>
          <p>Adding, configuring and removing Github organizations is disabled during this time. The integration will be functional shortly after maintenance is complete.</p>
          </div>
        </section>
        {{/if}}

        <section class="content">
          {{#if hasConnections}}
            <table class="jiraConfigurationTable">
              <thead>
                <tr>
                  <th>Organization</th>

                  <th></th>

                  <th>Added</th>

                  <th>Repos Synced</th>

                  <th>Sync Status <span id="sync-status-modal-btn" class="sync-status-modal-btn">ℹ️</span></th></th>
                  <div id="sync-status-modal" class="sync-retry-modal">
                    <div class="sync-retry-modal-content">
                      <span id="status-close" class="close">&times;</span>
                      <p><strong>IN PROGRESS</strong> - The sync has started and is still in progress for this account. New data may not immediately be displayed in Jira.</p>
                      <p><strong>STALLED</strong> - The sync has not made any progress for at least 15 minutes. If there were temporary technical issues, a normal resync will pick up from where it left off and continue with the
                      sync.</p>
                      <p><strong>FAILED</strong> - There was a problem syncing data from your account. If there were temporary technical issues, a normal resync will pick up from where it left off and continue with the sync.
                      If it continues to return to FAILED state after re-trying, a full resync may be necessary.</p>
                      <p><strong>PENDING</strong> - The sync has been queued, but is not actively syncing data from GitHub.</p>
                      <p><strong>COMPLETE</strong> - The sync has finished. Information from selected repositories will be shown in Jira's development information panel.</p>
                    </div>
                  </div>

                  <th>Last Sync Update</th>

                  <th>Retry <span id="sync-retry-modal-btn" class="sync-retry-modal-btn">ℹ️</span></th>
                  <div id="sync-retry-modal" class="sync-retry-modal">
                    <div class="sync-retry-modal-content">
                      <span id="retry-close" class="close">&times;</span>
                      <p><strong>Normal</strong> - Retry if the sync failed and you haven't changed the configuration on GitHub.
                      This will not attempt to rediscover the GitHub repositories in your installation.</p>
                      <p><strong>Full</strong> - Rediscover your GitHub repositories and perform another full sync.
                      Use this is you've changed the configuration on GitHub or would otherwise like to rescan all repositories.</p>
                    </div>
                  </div>

                </tr>
              </thead>
              <tbody>
                {{#each connections}}
                  <tr>
                    {{!-- Organization --}}
                    <td><img class="connection-avatar" src="{{ account.avatar_url }}" height="24" width="24" /> {{ account.login }}</td>

                    {{!-- No header --}}
                    <td class="jiraConfigurationTable__connectionLinks">
                    {{#if ../maintenanceMode}}
                      <span class="disabled-link">Remove</span>
                      <span class="disabled-link">Configure</span>
                    {{else}}
                      <button class="ak-button ak-button__appearance-link delete-connection-link bob" data-installation-id="{{ id }}">Remove</button>
                      <a class="ak-button ak-button__appearance-link configure-connection-link" href="{{ html_url }}" data-installation-link="{{ html_url }}" target="_blank">Configure</a>
                    {{/if}}
                    </td>

                    {{!-- Added --}}
                    <td>
                      <span title="{{ installedAt.absolute }}">
                        {{ installedAt.relative }}
                      </span>
                    </td>

                    {{!-- Repos Synced --}}
                    <td>
                      {{#ifAllReposSynced numberOfSyncedRepos totalNumberOfRepos}}
                        <span>{{ totalNumberOfRepos }}</span>
                      {{else}}
                        <span>{{ numberOfSyncedRepos }} / {{ totalNumberOfRepos }}</span>
                      {{/ifAllReposSynced}}
                      {{#if isGlobalInstall }}
                        <span>(All)</span>
                      {{else}}
                        <span>(Selected)</span>
                      {{/if}}
                    </td>

                    <td>
                      {{#if syncWarning}}
                        <a href="#trigger" data-ak-tooltip="{{ syncWarning }}" data-ak-tooltip-position="top" class="muted-link">
                          <span id="{{id}}-status" class="jiraConfigurationTable__{{ toLowerCase ( replaceSpaceWithHyphen syncStatus ) }} jiraConfigurationTable__syncStatus"> {{ syncStatus }} </span>*
                        </a>
                      {{else}}
                        <span id="{{id}}-status" class="jiraConfigurationTable__{{ toLowerCase ( replaceSpaceWithHyphen syncStatus ) }} jiraConfigurationTable__syncStatus"> {{ syncStatus }} </span>
                      {{/if}}
                    </td>

                    <td>
                      <span title="{{ subscriptionUpdatedAt.absolute }}">
                        {{ subscriptionUpdatedAt.relative }}
                      </span>
                    </td>

                    <td>
                      <input type="hidden" id="_csrf" name="_csrf" value="{{../csrfToken}}">
                      <select id="{{id}}-sync-type">
                        <option value="normal">Normal</option>
                        <option value="full">Full</option>
                      </select>
                      {{#if ../maintenanceMode}}
                      <span class="disabled-link">Submit</span>
                      {{else}}
                      <button class="ak-button ak-button__appearance-link sync-connection-link" data-jira-host="{{ ../host }}" data-installation-id="{{ id }}">Submit</button>
                      {{/if}}
                    </td>
                  </tr>
                {{/each}}
                {{#each failedConnections}}
                  <tr>
                    <td class="error-message">
                      #{{ id }}
                      {{#if deleted}}
                        This installation seems to be removed from GitHub but not from the database
                      {{else}}
                        There was an error getting the information of this installation
                      {{/if}}
                    </td>
                    <td>
                      <span title="{{ installedAt.absolute }}">
                        {{ installedAt.relative }}
                      </span>
                    </td>
                    <td>
                    {{#if ../maintenanceMode}}
                      <span class="disabled-link">Remove</span>
                      {{else}}
                      <button class="ak-button ak-button__appearance-link delete-connection-link" data-installation-id="{{ id }}">Remove</button>
                    {{/if}}
                    </td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{else}}
            <div class="empty-message">
              <h4>You don't have any connected GitHub organizations. Let's fix that!</h4>
              <p>You'll be redirected to GitHub to select the organizations and repositories you'd like to connect with Jira.</p>
              {{#if maintenanceMode}}
                <button class="ak-button ak-button__appearance-primary add-organization-link" disabled>Add an Organization</button>
              {{else}}
                <button class="ak-button ak-button__appearance-primary add-organization-link">Add an Organization</button>
              {{/if}}
            </div>
          {{/if}}
        </section>

        {{#if hasConnections}}
           <p>Metadata for commits, branches, and pull requests that use the <a href="https://confluence.atlassian.com/jirasoftwarecloud/processing-issues-with-smart-commits-788960027.html">Smart Commit syntax</a>
           will be synced to Jira and appear in the <a href="https://confluence.atlassian.com/jirasoftwarecloud/viewing-the-development-information-for-an-issue-777002795.html">Development Information panel</a>
           of the relevant issue.</p>

           <p>To view your Organization’s updated sync status, <span class="jiraConfigurationTable__refresh">please refresh</span> this page.</p>
        {{/if}}
      </div>
      <script src="/public/js/jira-configuration.js"></script>
    </div>
    <!-- Per https://blog.developer.atlassian.com/announcement-reminder-about-deprecation-of-xdm_e-usage-and-needing-to-load-all-js-from-the-cdn/ we are required to load this from this specific CDN -->
    <script src="https://connect-cdn.atl-paas.net/all.js"></script>
  </body>
</html>
