<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>{{title}}</title>
  <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
</head>

<body>
   Redirecting to your GitHub Enterprise Server Instance

   <input type="hidden" id="baseUrl" value="{{baseUrl}}">
</body>
<script src="/public/js/jira-redirect.js" nonce="{{nonce}}"></script>
</html>
