<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <meta name="public-url" content="{{APP_URL}}" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="/public/aui/aui-prototyping.css"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/atlassian-ui-kit/bundle.css"
      media="all"
    />
    <link rel="stylesheet" href="/public/css/global.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/css/jira-manual-app-creation.css"
      media="all"
    />
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
  </head>

  <body class="aui-page-hybrid">
  {{> navigation previousPageName="Jira Select App Creation" }}

  <div class="jiraManualAppCreation">

      <h1>Manual app Creation</h1>

      <div>Learn how to <a href="#">manually set up a GitHub app</a>. All fields are required.</div>

      <form id="jiraManualAppCreation__form" class="aui top-label" enctype="multipart/form-data">
        <div class="jiraManualAppCreation__formTitle">
          Details
          <i class="aui-icon aui-iconfont-question-filled"></i>
        </div>

        <div class="field-group">
          <label for="app-name">GitHub app name</label>
          <input class="text full-width-field" type="text" required id="app-name" name="app-name" />
        </div>

        <div class="field-group ">
          <label for="app-id">GitHub app ID</label>
          <input class="text full-width-field" type="text" required id="app-id" name="app-id" />
        </div>

        <div class="field-group">
          <label for="client-id">GitHub client ID</label>
          <input class="text full-width-field" type="text" required id="client-id" name="client-id" />
        </div>

        <div class="jiraManualAppCreation__formTitle">URLs</div>
        <div class="jiraManualAppCreation__formSubTitle">
          Copy and paste the following URLs into your GitHub Enterprise Server configuration. This is unique to your site.
        </div>

        <div class="field-group">
          <label for="callback-url">Callback URL</label>
          <div class="jiraManualAppCreation__formGroupWithIcon">
            <!--TODO: replace the value by actual data-->
            <input class="jiraManualAppCreation__formGroupInput text" type="text" id="callback-url"
                   name="callback-url" value="https://github.atlassian.com/github/callback/V1StGXR8_Z5jdHi6B-myT"
                   readonly
            />
            <span class="aui-icon aui-icon-small aui-iconfont-copy jiraManualAppCreation__formGroupIcon">Copy</span>
            <span class="jiraManualAppCreation__formTooltip">Click to Copy</span>
          </div>
        </div>

        <div class="field-group">
          <label for="setup-url">Setup URL</label>
          <div class="jiraManualAppCreation__formGroupWithIcon">
            <!--TODO: replace the value by actual data-->
            <input class="jiraManualAppCreation__formGroupInput text" type="text" id="setup-url"
                   name="setup-url" value="https://github.atlassian.com/github/setup/V1StGXR8_Z5jdHi6B-myT"
                   readonly
            />
            <span class="aui-icon aui-icon-small aui-iconfont-copy jiraManualAppCreation__formGroupIcon">Copy</span>
            <span class="jiraManualAppCreation__formTooltip">Click to Copy</span>
          </div>
        </div>

        <div class="field-group">
          <label for="webhook-url">Webhook URL</label>
          <div class="jiraManualAppCreation__formGroupWithIcon">
            <!--TODO: replace the value by actual data-->
            <input class="jiraManualAppCreation__formGroupInput text" type="text" id="webhook-url"
                   name="webhook-url" value="https://github.atlassian.com/github/webhook/V1StGXR8_Z5jdHi6B-myT"
                   readonly
            />
            <span class="aui-icon aui-icon-small aui-iconfont-copy jiraManualAppCreation__formGroupIcon">Copy</span>
            <span class="jiraManualAppCreation__formTooltip">Click to Copy</span>
          </div>
        </div>

        <div class="jiraManualAppCreation__formTitle">Secrets</div>
        <div class="jiraManualAppCreation__formSubTitle">
          Paste secrets from your GitHub Enterprise Server configuration.
        </div>

        <div class="field-group">
          <label for="client-secret">GitHub client secret</label>
          <input class="text full-width-field" type="password" required id="client-secret" name="client-secret" />
        </div>

        <div class="field-group">
          <label for="webhook-secret">Webhook secret</label>
          <input class="text full-width-field" type="password" required id="webhook-secret" name="webhook-secret" />
        </div>

        <div class="field-group">
          <label>Private key</label>
          <div class="jiraManualAppCreation__formFileDropArea">
            <img class="jiraManualAppCreation__formFileIcon" src="/public/assets/file-upload.svg" alt="Upload">
            <div>
              <div class="jiraManualAppCreation__formFileMsg">Upload your private key</div>
              <div class="jiraManualAppCreation__formFileSubMsg">Upload your generated private key from GitHub</div>
            </div>
            <div class="aui-button">Upload</div>
            <input class="jiraManualAppCreation__formFileInput" id="private-key" required type="file">
          </div>
          <div class="jiraManualAppCreation__formFileUploaded">
            <div id="jiraManualAppCreation__uploadedFile"></div>
            <span class="aui-icon aui-icon-small aui-iconfont-cross" id="jiraManualAppCreation__clearUploadedFile">Remove</span>
          </div>
        </div>

        <button class="jiraManualAppCreation_formSubmitBtn aui-button aui-button-primary">Next</button>
      </form>
    </div>

    <script src="/public/js/jira-manual-app-creation.js" nonce="{{nonce}}"></script>
    <!-- Per https://blog.developer.atlassian.com/announcement-reminder-about-deprecation-of-xdm_e-usage-and-needing-to-load-all-js-from-the-cdn/ we are required to load this from this specific CDN -->
    <!-- DO NOT TOUCH!!! THIS IS NEEDED FOR CONNECT OR ELSE IT WILL CAUSE AN ERROR -->
    <script
      src="https://connect-cdn.atl-paas.net/all.js"
      nonce="{{nonce}}"
    ></script>
    <script
      src="/public/aui/aui-prototyping.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      nonce="{{nonce}}"
    ></script>
  </body>
</html>
