<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <meta name="public-url" content="{{APP_URL}}" />
    <title>{{title}}</title>
    <link
      href="/public/aui/aui-prototyping.css"
      rel="stylesheet"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/atlassian-ui-kit/bundle.css"
      media="all"
    />
    <link rel="stylesheet" href="/public/css/global.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/css/jira-connect-ghe.css"
      media="all"
    />
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
  </head>

  <body class="aui-page-hybrid">
    <div class="jiraConnectGHE">
      <header class="jiraConnectGHE__header">
         {{> navigation previousPageName="Select GitHub Version" }}
      </header>

      <section class="jiraConnectGHE__content">
        <div class="headerImage">
          <img
            src="/public/assets/jira-and-github.png"
            alt="Jira and GitHub logos"
          />
        </div>
        <h2 class="jiraConnectGHE__content__title">GitHub Enterprise Server</h2>

        <div class="jiraConnectGHE__prompt">
            Connecting GitHub Enterprise Server to Jira requires opening a hole in your firewall,
            as Atlassian’s IP addresses must be able to call your GitHub Enterprise Server.
          <!--TODO: Add a link here-->
          <a href="" target="_blank">Learn more.</a>
        </div>

        <div>
          <h3 class="jiraConnectGHE__options__subTitle">
            GitHub Enterprise Server URL
          </h3>
          <div class="jiraConnectGHE__prompt">
            Enter the URL for the server of the GitHub Enterprise organization that you want to connect. This is unique to your server.
          </div>
          <div>
            <label class="jiraConnectGHE__label" for="gheServerURL">Server URL</label>
            <input type="text" class="jiraConnectGHE__input" id="gheServerURL" placeholder="https://example.com" />
            <div class="jiraConnectGHE__error" id="gheServerURLError">
              <i class="aui-icon aui-iconfont-error"></i>
              <span></span>
              <a href="" target="_blank"></a>
            </div>
          </div>

          <div class="jiraConnectGHE__actionBtn__container">
            <button
              id="gheServerBtn"
              class="aui-button aui-button-primary"
              aria-disabled="true"
              disabled
            >
              <span id="gheServerBtnText">Next</span>
              <aui-spinner id="gheServerBtnSpinner" size="small"></aui-spinner>
            </button>

          </div>
        </div>
      </section>

    </div>

    <script src="/public/js/jira-connect-ghe.js" nonce="{{nonce}}"></script>
    <!-- Per https://blog.developer.atlassian.com/announcement-reminder-about-deprecation-of-xdm_e-usage-and-needing-to-load-all-js-from-the-cdn/ we are required to load this from this specific CDN -->
    <!-- DO NOT TOUCH!!! THIS IS NEEDED FOR CONNECT OR ELSE IT WILL CAUSE AN ERROR -->
    <script
      src="https://connect-cdn.atl-paas.net/all.js"
      nonce="{{nonce}}"
    ></script>
    <script
      src="/public/aui/aui-prototyping.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      nonce="{{nonce}}"
    ></script>
  </body>
</html>
