<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
    <meta name="public-url" content="{{APP_URL}}" />
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="/public/aui/aui-prototyping.css"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/atlassian-ui-kit/bundle.css"
      media="all"
    />
    <link rel="stylesheet" href="/public/css/global.css" media="all" />
    <link
      rel="stylesheet"
      href="/public/css/jira-select-app-creation.css"
      media="all"
    />
    <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
  </head>

  <body class="aui-page-hybrid">
    <div class="jiraAppCreation">
      <header class="jiraAppCreation__header">
          {{> navigation }}
      </header>

      <section class="jiraAppCreation__content">
        {{> jira-and-github-header title="GitHub Enterprise Server app creation" }}

        <div class="jiraAppCreation__content__container">
            <p class="jiraAppCreation__options__prompt">To connect GitHub Enterprise Server to Jira, you must create an app in your GitHub instance.</p>

            <div class="jiraAppCreation__options__container">
                <p class="jiraAppCreation__options__cardPrompt">How would you like to connect your GitHub organization?</p>

                <div class="jiraAppCreation__options__cardsContainer">
                    {{> select-app-creation-card
                        appCreationOption="automatic"
                        appCreationIcon="/public/assets/github-logo.svg"
                        appCreationIconAlt="Automatic creation"
                        appCreationTitle="Automatic app creation"
                        appCreationDescription="Automatically create an an application in your GitHub Server instance."
                        isRecommended=true
                    }}
                    {{> select-app-creation-card
                        appCreationOption="manual"
                        appCreationIcon="/public/assets/preferences.svg"
                        appCreationIconAlt="Manual configuration"
                        appCreationTitle="Manual app creation"
                        appCreationDescription="Manually create an application in your GitHub Server instance."
                        isRecommended=false
                    }}
                </div>
            </div>
        </div>

        <div class="jiraAppCreation__versionDisclaimer__container">
            <p class="jiraAppCreation__versionDisclaimer__prompt">
                To automatically connect your Github Enterprise Server to Jira, your GitHub Enterprise Server must be
                <span class="jiraAppCreation__versionDisclaimer__version">Version 3.1.x</span> or higher.
                <a
                    href="https://support.atlassian.com/jira-cloud-administration/docs/connect-a-github-enterprise-server-account-to-jira-software/#FAQs"
                    target="_blank"
                >
                    Learn more
                </a>
            </p>
        </div>

        <input type="hidden" id="connectConfigUuid" value="{{connectConfigUuid}}">

        <div class="jiraAppCreation__actionBtn__container">
            <button
                class="aui-button aui-button-primary jiraAppCreation__actionBtn optionBtn"
                id="jiraAppCreation__actionBtn"
            >
                Create
            </button>
        </div>
      </section>

    </div>

    <!-- Per https://blog.developer.atlassian.com/announcement-reminder-about-deprecation-of-xdm_e-usage-and-needing-to-load-all-js-from-the-cdn/ we are required to load this from this specific CDN -->
    <!-- DO NOT TOUCH!!! THIS IS NEEDED FOR CONNECT OR ELSE IT WILL CAUSE AN ERROR -->
    <script
      src="https://connect-cdn.atl-paas.net/all.js"
      nonce="{{nonce}}"
    ></script>
    <script
      src="/public/aui/aui-prototyping.js"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      nonce="{{nonce}}"
    ></script>
    <script src="/public/js/jira-select-card-option.js" nonce="{{nonce}}"></script>
    <script src="/public/js/navigation.js" nonce="{{nonce}}"></script>
  </body>
</html>
