<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="public-url" content="{{APP_URL}}">
  <title>{{title}}</title>

  <link rel="stylesheet" href="/public/css-reset/bundle.css" media="all" />
  <link
    rel="stylesheet"
    href="/public/atlassian-ui-kit/bundle.css"
    media="all"
  />
  <link rel="stylesheet" href="/public/css/global.css" media="all" />
  <link
    rel="stylesheet"
    href="/public/aui/aui-prototyping.css"
    integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
<body>
<h2>Logging you into GitHub</h2>
<aui-spinner size="large"></aui-spinner>

<script
  src="/public/aui/aui-prototyping.js"
  integrity="sha512-DkENIkhNP5r+sfHUC5hhFAzApGNR5HTu1fzymBBhXZma4zytOUQh8qhz5xc3nSbSQfdYI6qdI281YwUNmubEMw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
  nonce="{{nonce}}"
></script>

<script nonce="{{nonce}}">
  $(function() {
    setTimeout(function() {
      const jiraHost = window.localStorage.getItem("jiraHost");
      if (jiraHost) {
        // Set jiraHost value
        document.cookie = "jiraHost=" + jiraHost + "; path=/; expires=" + new Date(Date.now() + (60000 * 5)).toUTCString();
        // Remove old value
        window.localStorage.removeItem("jiraHost");
      }
      window.location.href = "{{redirectUrl}}";
    }, 300);
  })
</script>
</body>
</html>
