<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="ap-local-base-url" content="{{localBaseUrl}}" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/css/loading-screen.css" media="all" />
  <link rel="stylesheet" href="/public/css/ghe-loading.css" media="all" />
  <link
      rel="stylesheet"
      href="/public/aui/aui-prototyping.css"
      integrity="DTM1Q+8lU7SzJT+FWr0JFisCSZlwfM0GiAKYy7h1s9vIKa/CIh37s9NuOCqIOgK4tmqrjLK4NuWuIPUQNsikHA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
  />
  <script src="/public/js/jquery.min.js" nonce="{{nonce}}"></script>
</head>
<body class="session___body">
{{> loading-screen
    title=title
}}
<script
    src="/public/aui/aui-prototyping.js"
    integrity="sha512-DkENIkhNP5r+sfHUC5hhFAzApGNR5HTu1fzymBBhXZma4zytOUQh8qhz5xc3nSbSQfdYI6qdI281YwUNmubEMw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    nonce="{{nonce}}"
></script>
<script nonce="{{nonce}}">
  $(function() {
    if (window.jwt) {
      {{!--/*
            We cannot pass jwt as a query string parameter because of security considerations!
            (E.g. they can be stored in browser's session or hijacked.)
            More secure is to pass it using the cookies.
      */--}}
      document.cookie = "jwt=" + window.jwt + "; path=/; max-age=" + 60 * 5 + "; samesite=none; secure";
    }
  });
</script>
<script nonce="{{nonce}}">
  $(function() {
    window.location = "{{{redirectUrl}}}";
  });
</script>
</body>
</html>